n8n-resume-upload-workflow.json
{
  "name": "LakshPath Resume Analyzer - File Upload",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-upload",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-upload",
      "name": "Webhook - File Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract uploaded file and user data\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Get form data\n  const body = item.json.body || {};\n  const userId = body.userId || 'unknown';\n  const jobDescription = body.jobDescription || '';\n  \n  // Check if file is uploaded\n  if (item.binary && item.binary.data) {\n    results.push({\n      json: {\n        userId: userId,\n        jobDescription: jobDescription,\n        fileName: item.binary.data.fileName || 'resume.pdf',\n        mimeType: item.binary.data.mimeType || 'application/pdf'\n      },\n      binary: {\n        data: item.binary.data\n      }\n    });\n  } else {\n    results.push({\n      json: {\n        error: 'No file uploaded',\n        message: 'Please upload a PDF or DOCX file'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "process-upload",
      "name": "Process Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract text from PDF using pdf-parse\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    if (item.json.error) {\n      results.push(item);\n      continue;\n    }\n    \n    // Get binary data\n    const binaryData = await this.helpers.getBinaryDataBuffer(item.binary.data);\n    \n    let resumeText = '';\n    \n    // Simple text extraction for demo\n    // In production, you'd use pdf-parse or similar\n    if (item.json.mimeType.includes('pdf')) {\n      // For PDF, we'll create a sample analysis\n      // You can install pdf-parse package in n8n for real parsing\n      resumeText = `This is a sample resume text extracted from ${item.json.fileName}.\\n\\nKey sections would be extracted here including:\\n- Work Experience\\n- Education\\n- Skills\\n- Certifications`;\n    } else if (item.json.mimeType.includes('text')) {\n      resumeText = binaryData.toString('utf-8');\n    } else {\n      resumeText = 'File type not fully supported yet. Use PDF or TXT.';\n    }\n    \n    results.push({\n      json: {\n        userId: item.json.userId,\n        jobDescription: item.json.jobDescription,\n        resumeText: resumeText,\n        fileName: item.json.fileName\n      }\n    });\n  } catch (error) {\n    results.push({\n      json: {\n        error: 'Text extraction failed',\n        details: error.message\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "extract-text-upload",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Create AI prompt for analysis\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  if (item.json.error) {\n    results.push(item);\n    continue;\n  }\n  \n  const resumeText = item.json.resumeText;\n  const jobDescription = item.json.jobDescription;\n  \n  const prompt = `You are an expert resume analyzer for LakshPath.\n\nAnalyze this resume:\n\n${resumeText}\n\n${jobDescription ? `Target Job: ${jobDescription}\\n` : ''}\n\nProvide analysis in JSON format:\n{\n  \"overallScore\": 85,\n  \"atsScore\": 78,\n  \"strengths\": [\"Clear progression\", \"Strong skills\"],\n  \"weaknesses\": [\"Missing certifications\"],\n  \"recommendations\": [\"Add metrics\", \"Include certifications\"],\n  \"keySkills\": [\"Python\", \"React\"],\n  \"missingSkills\": [\"Docker\", \"K8s\"]\n}`;\n  \n  results.push({\n    json: {\n      userId: item.json.userId,\n      fileName: item.json.fileName,\n      prompt: prompt\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "create-prompt",
      "name": "Create AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key=AIzaSyAc3hciPc0IHDiRqhLlyX8VLvd_hcxqG-o",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"contents\": [{\"parts\": [{\"text\": {{ $json.prompt }}}]}]}",
        "options": {}
      },
      "id": "gemini-api",
      "name": "Gemini Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Gemini response\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    if (item.json.error) {\n      results.push(item);\n      continue;\n    }\n    \n    const response = item.json.candidates?.[0]?.content?.parts?.[0]?.text || '';\n    const jsonText = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const analysis = JSON.parse(jsonText);\n    \n    results.push({\n      json: {\n        success: true,\n        userId: $node['Create AI Prompt'].json.userId,\n        fileName: $node['Create AI Prompt'].json.fileName,\n        analysis: analysis,\n        timestamp: new Date().toISOString()\n      }\n    });\n  } catch (error) {\n    results.push({\n      json: {\n        success: false,\n        error: 'Failed to parse AI response',\n        details: error.message\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook - File Upload": {
      "main": [[{ "node": "Process Upload", "type": "main", "index": 0 }]]
    },
    "Process Upload": {
      "main": [[{ "node": "Extract Text", "type": "main", "index": 0 }]]
    },
    "Extract Text": {
      "main": [[{ "node": "Create AI Prompt", "type": "main", "index": 0 }]]
    },
    "Create AI Prompt": {
      "main": [[{ "node": "Gemini Analysis", "type": "main", "index": 0 }]]
    },
    "Gemini Analysis": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    },
    "Parse Response": {
      "main": [[{ "node": "Send Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
